.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}
.App-Body {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.App-Content {
  flex: 1;
}
.App-Header {
  max-height: fit-content;
  background-color: #edf756;
}
.App-Footer {
  background-color: #edf756;
  padding: 10px;
  flex-shrink: 0; /* Footer should not shrink */
}

/* Navigation menu */
.App-Nav {
  background-color: #edf756;
  text-align: left;
}

/*Login form*/
.Login-Form,
.Signup-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

a {
  text-decoration: none;
  color: crimson;
}
